// google font
// @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Quicksand:wght@300..700&family=Slabo+13px&display=swap");
body {
    background: linear-gradient(#d6d6d6, #bac9c4);
    // background-color: #bac9c4;
    color: #555555;
    background-attachment: fixed;
    font-family: "Dosis", sans-serif;
}
.logo-box {
    width: 400px;
    margin: auto;
    img {
        width: 100%;
        margin-bottom: 10px;
    }
}
.logo-caption {
    margin-top: -5px;
    margin-bottom: 100px;
    p {
        font-size: 0.8rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
}

textarea {
    resize: none !important;
}

.top-3 {
    // border: 0px solid #646464;
    background: linear-gradient(#ddd, #ffffff00);
    padding-bottom: 1rem;
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        background-color: #000f41;
        color: #fff;
        padding: 10px;
    }
    p {
        // font-style: italic;
        font-size: 1.2rem;
        text-align: center;
        font-family: "Dosis", sans-serif;
    }
}

section.misi,
section.sasaran,
section.tujuan-opd,
section.sasaran-opd {
    margin-left: 20px;
    h5 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 4px;
    }
    p {
        text-align: justify;
        font-family: "Dosis", sans-serif;
    }
}

section.misi {
    // border-top: 0.7px solid #000f41;
    // border-width: 0.7px;
    // border-style: solid;
    // border-color: #000f41;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Dosis", sans-serif;
}

.nav-link.nav-white,
.dropdown-item.nav-white {
    color: #fff;
}

// Table renstra
.table-title {
    background-color: #003f22;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
table.table-renstra {
    td {
        padding: 0;
    }
    section.row {
        margin: 0;
    }
    .desc-sasaran {
        font-size: small;
        vertical-align: top;
        background-color: #c8ff88;
        padding: 0.5rem;
        padding-top: 0;
        text-align: right;
        box-sizing: border-box;
    }
    .desc-nama {
        font-size: 1rem;
        font-family: "Dosis", sans-serif;
    }
}

// Detail Renstra
.detail-desc {
    margin-top: 20px;
    font-family: "Dosis", sans-serif;
    font-size: 1.2rem;
    background-color: #2d4e38;
    color: #fff;
    padding: 5px 15px;
    p {
        margin: 0;
        padding: 0;
    }
}

// Table indikator
table.table-indikator {
    thead tr th {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    tbody tr {
        border-bottom: 1px solid #8f8f8f;
    }
    tbody tr td:nth-child(1) {
        width: 50%;
        max-width: 600px;
    }
    tbody tr td {
        font-size: 0.9rem;
        font-family: "Slabo 13px", serif;
        font-weight: 400;
        font-style: normal;
    }

    tbody tr:nth-child(odd) td {
        background-color: #d6dafc;
    }
}

@media screen and (max-width: 450px) {
    table.table-renstra tbody tr td {
        display: block;
    }
    table.table-renstra tbody tr td:nth-child(2) {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
}
